<style>
    body{
        background-color:rgb(202, 160, 167);
    }
    .col-6{
        margin-top: 7.5%;
        margin-left:7%;
    }
    button{margin-top:7%;}
    .error{
        color:darkred;
    }
    .col-6{
        background-color: rgb(216, 210, 202);
        padding: 52px;
    }
    h1{
        text-align: center;
    }
   </style>