<style>
    body{
        background-color:blanchedalmond;
    }
    .col-6{
        margin-top: 7.5%;
        margin-left:7%;
    }
    button{margin-top:2%;}
    .error{
        color:darkred;
    }
    #inputname{
        margin-left: 27%;
    }
    #inputname1{
        margin-left: 77%;
    }
      #inputname2{
        margin-left: 77%;
    }</style>